.App {
  /* text-align: center;
  background-color: EDEBE6; */
}

.router-area {
  background-color: #B69990;
  list-style-type: none;
  text-align: center;

}

.router-area li{
  display: inline-block;
  font-size: 20px;
  padding: 15px;
}

.App-header {
  background-color: #AB90A1;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
img {
  width:  200px;
  height: 300px;
  object-fit: contain;
}

.layout-area {
  background-color: #8C817F;
}

/*colors: 887A7A, 8C817F, AB90A1, B69990, EDEBE6 */
body {
  margin: 40px;
}

.paw-layout {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 400px 550px 400px ;
  grid-auto-columns: auto;
  justify-content: center;
  
}

.howard0::before {
  font-weight: bold;
  content: attr(title) "The Outcome";
  color: #887A7A;
}
.howard0 {
  grid-column: 3 /5 ;
  grid-row: 3;
  justify-self: center;
}
.howard1::before {
  font-weight: bold;
  content: attr(title) "The Past";
  color: #887A7A;
}

.howard1 {
  grid-column: 2 ;
  grid-row: 2 ;
  
}

.howard2::before {
  font-weight: bold;
  content: attr(title) "The Present";
  color: #887A7A;
}
.howard2 {
  grid-column: 3 ;
  grid-row: 1 ;
}

.howard3::before {
  font-weight: bold;
  content: attr(title) "Hidden Influences";
  color: #887A7A;
}
.howard3 {
  grid-column: 4;
  grid-row: 1;
}

.howard4::before {
  font-weight: bold;
  content: attr(title) "Advice and Insight";
  color: #887A7A;
}
.howard4 {
  grid-column: 5;
  grid-row: 2;
}


.CardStyle {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  width: 200px;
  height: 200px;
}

  .card-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .card {
    height: 400px;
    width: 300px;
  }