.App {
text-align: center;
}

.router-area {
  background-color: #95818D;
  height: 150px;
  list-style-type: none;
  text-align: right;
  margin: 0%;
  justify-content: center;
}

a:-webkit-any-link {
  color: #292F36;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Megrim', cursive;
  font-size: 28px;
}

.router-area li{
  display: inline-block;
  font-size: 20px;
  padding: 15px;
  color:#292F36;
}

div#a {
  width: 30px;
  height:30px;
  background-color:#508CA4;
  position:absolute;
  }

.App-header {
  background-color: #B69990;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
  font-family: 'Megrim', cursive;
  box-shadow: 0 4px 8px 0 #62525C, 0 6px 20px 0 #62525C;
}
h2 {
  letter-spacing: .5rem;
}

.App-logo {
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: silver;
  position: relative;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.App-logo2 {
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: silver;
  position: absolute;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.App-logo3 {
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: #E8D2AE;
  position: relative;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

#cover-image {
  height: 700px;
  width: 500px;
  margin: 25px;
  box-shadow: 0 4px 8px 0 #62525C, 0 6px 20px 0 #62525C;
  background-color: #7C5E9A;
}
#header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #95818D;
}

img {
  width:  200px;
  height: 300px;
  object-fit: contain;
}

.cards-layout {
  background-color: #F5F3F5;
  padding: 15px;
  align-content: center;
}

/*colors: 887A7A (mid taupe), 8C817F, AB90A1 (muted grey-lilac), B69990 (warm beige), EDEBE6 (soft white) 95818D (pinkish-grey) 292F36(gunmetal) 508CA4(medium cool blue)  font-family: 'Cinzel Decorative', cursive;
font-family: 'WindSong', cursive; font-family: 'Meddon', cursive;
font-family: 'Megrim', cursive;
font-family: 'Monsieur La Doulaise', cursive; Photo by <a href="https://unsplash.com/@nacho_rochon?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nacho Rochon</a> on <a href="https://unsplash.com/s/photos/stars?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
  */
body {
  width: auto;
  margin: auto;
}

.paw-layout {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 550px 550px 550px ;
  grid-auto-columns: auto;
  margin: auto;
  justify-content: center;
  background-color: #568259;
  border: 10px solid #508CA4;
  text-align: center;
}

.howard0::before {
  font-weight: bold;
  content: attr(title) "The Outcome";
  color: #292F36;
}
.howard0 {
  grid-column: 3 /5 ;
  grid-row: 3;
  justify-self: center;
  background-color: #F5F3F5;
}
.howard1::before {
  font-weight: bold;
  content: attr(title) "The Past";
  color: #292F36;
}

.howard1 {
  grid-column: 2 ;
  grid-row: 2 ;
  background-color: #F5F3F5;
}

.howard2::before {
  font-weight: bold;
  content: attr(title) "The Present";
  color: #292F36;
}
.howard2 {
  grid-column: 3 ;
  grid-row: 1 ;
  background-color: #F5F3F5;
}

.howard3::before {
  font-weight: bold;
  content: attr(title) "Hidden Influences";
  color: #292F36;
}
.howard3 {
  grid-column: 4;
  grid-row: 1;
  background-color: #F5F3F5;
}

.howard4::before {
  font-weight: bold;
  content: attr(title) "Advice and Insight";
  color: #292F36;
}
.howard4 {
  grid-column: 5;
  grid-row: 2;
  background-color: #F5F3F5;
}


.CardStyle {
  border: 1px solid #292F36;
  padding: 20px;
  margin: 20px;
  width: 200px;
  height: 200px;
}

  .card-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
  }

  .card {
    height: 400px;
    width: 300px;
    border: 1px solid #489FB5;
  }

#planet {
    width: 50px;
    height: 50px;
    color:#14213d;
  }

#star {
  width: 50px;
  height: 50px;
  color:#F4FAFF;
}
.x {
  animation: x 13s linear infinite alternate;
}
.y {
  animation: y 7s linear infinite alternate;
}
@keyframes x {
  100% {
    transform: translateX(calc(100vw - 100px));
  }
}
@keyframes y {
  100% {
    transform: translateY(calc(100vh - 100px));
  }
} 
